h1{
    color: #ffffff;
    background: rgb(121,99,9);
    background: linear-gradient(90deg, rgba(121,99,9,0.6815768543745624) 34%, rgba(0,229,255,0.3202323165594363) 100%); 
    margin-bottom: 30px;
}

.navbar{
    background-image: linear-gradient(to right top, #7c3a09, #935324, #ab6d3d, #c28757, #d9a273);
}