input{
    margin: 20px;
}

button{
    margin: 20px;
}

.addform{
    border-radius: 22px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.363);
    background: rgb(121,99,9);
    background: linear-gradient(90deg, rgba(121,99,9,0.36785136417848385) 34%, rgba(0,229,255,0.1913807759431898) 100%);
;
}