section{
    color: #000000;
    background: rgb(121,99,9);
    background: linear-gradient(90deg, rgba(121,99,9,0.19698301683954833) 34%, rgba(0,229,255,0.17457405325411413) 100%);
}

div p, h4 {
    background-color: #ffffff5e;
}

.buttonModif{
    display: flex;
    justify-content: space-around;
}

